.container{
    position: relative;
    text-align: center;
    display: grid;
    place-content: center;
}

.first-page{
    opacity: 0;
    transition: all 3s;
}

.upper-texts{
    line-height: 180%;
}

.calender{
    opacity: 0;
    transition: all 1.5s;
    display: inline-block;
    margin-right: 35px;
}

.enter-name{
    margin-top: 10%;
}

.enter-name input[type="text"]{
    height: 40px;
    width: 300px;
}

.enter-birthday{
    margin-top: 5%;
}

.enter-birthday input[type="number"]{
    height: 40px;
}

.enter-birthday input[type="number"]::-webkit-inner-spin-button{
    -webkit-appearance: none;
    margin: 0px;
}

.complete-btn{  
    margin-top: 5%;
}

.complete-btn input[type="button"]
{
    height: 40px;
    width: 100px;
    border-radius: 5px;
    border-width: 1px;
    background-color: white;
}

.complete-btn input[type="button"]:hover {
    background-color: lightgray;
}

.date-info{
    opacity: 0;
    transition: all 1.5s;
}

.days-text{
    opacity: 0;
    transition: all 1.5s;
}

.left-days{
    line-height: 5%;
}

.next-week{
    opacity: 0;
    transition: all 1.5s;
    line-height: 3%;
}

.checkboxes input[type="checkbox"] {
    display: none;
}

.checkboxes input[type="checkbox"]+label {
    display: inline-block;
    width: 1.6%;
    height: 1.6%;
    margin: 0;
    pointer-events: none;
    background-color: white;
    border: 1px solid gray;
}

.checkboxes input[type="checkbox"]+label .checkmark {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.checkboxes input[type="checkbox"]:checked+label {
    background-color: black;
}

.checkboxes {
    position: relative;
    line-height: 40%;
    background-color: lightgray;
    margin-top: 0.5%;
    width: 100%;
    height: auto;
    white-space: nowrap;
}

.outer-weeks{
    position: relative;
    width: 400px;
    margin-top: 1.5%;
}

.weeks{
    margin-left: 0;
    text-align: left;
    width: 110%;
    position: center;
}

.weeks input[type="checkbox"] {
    margin: 0.5%;
    padding: 0;
    width: 0.9%;
    visibility: hidden;
}

.outer-life{
    position: relative;
}

.outer-years{
    margin-top: 0.8%;
    margin-right: 100px;
    position: absolute;
    left: -20px;
}

.years{
    line-height: 22%;
    height: auto;
    width: auto;
    margin-right: 10%;
    position: absolute;
}

.years input[type="checkbox"]
{
    height: 5px;
    visibility: hidden;
}

.next-birthday{
    opacity: 0;
    transition: all 1.5s;
    line-height: 3%;
}

.quotation-mark{
    font-size: 50px;
    margin-top: 5%;
    margin-bottom: 0;
}

.quotes{
    margin-top: 10%;
    margin-bottom: 10%;
    border: 2px solid black;
    border-radius: 5px;
    opacity: 0;
    transition: all 1.5s;
    margin-left: 3%;
    text-align: center;
    width: 400px;
    height: auto;
}

.settings{
    opacity: 0;
    transition: all 1.5s;
    margin-top: 5%;
    text-align: center;
}

.plus-btn{
    margin-top: 3%;
    opacity: 0;
    transition: all 1.5s;
    width: 150px;
    height: 30px;
}

.enter-todo-window{
    opacity: 0;
    transition: all 1.5s;
    display: none;
}

.enter-todo-window input{
    width: auto;
    height: 40px;
}

.enter-todo-text{
    width: 200px;
}

.outer-todos{
    opacity: 0;
    transition: all 1.5s;
}

.dead-line-info{
    margin-top: 5%;
    text-align: left;
}

.past-todo{
    border-radius: 3px;
    width: auto;
    height: 200px;
    border: 1px solid white;
    background-color: rgb(65, 65, 65);
    overflow: scroll;
}

.past-todo li {
    color: white;
    list-style-type: none;
}

.past-todo li::before {
    position: flex;
    margin-left: 10%;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    content: '[X]';
    display: block;
    color: red;
    float: left;
}

.past-todo span {
    color: white;
    position: flex;
    float: left;
}

.now-todo{
    border-radius: 3px;
    width: auto;
    height: 200px;
    border: 1px solid black;
    overflow: scroll;
}

.div-now-todo{
    margin-top: 3%;
    text-align: left;
    align-items: flex-start;
    height: 50px;
}

.date-div{
    height: 20px;
}

.now-todo li{
    list-style-type: none;
}

.now-todo li::before{
    position: flex;
    margin-left: 10%;
    margin-right: 10px;
    height: 20px;
    width: 20px;
    content: '[X]';
    display: block;
    color: red;
    float: left;
}

.now-todo span{
    position: flex;
    float: left;
}

.time-limit-text{
    margin: 0;
    line-height: 0;
}

.todo-date input{
    width: 50px;
    margin-top: 3%;
}

.todo-date input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.assign-btn{
    width: 200px !important;
}

.outer-diary{
    opacity: 0;
    transition: all 1.5s;
    position: relative;
}

.diary{
    margin-top: 5%;
    width: auto;
    height: 100px;
    border-radius: 3px;
    border: 1px solid rgb(226, 226, 0);
    background-color: rgb(255, 255, 208);
    overflow: scroll;
}

.diary div{
    margin-top: 2%;
    margin-left: 3%;
    text-align: left;
}

.bunch-of-diary-input{
    opacity: 0;
    transition: all 1.5s;
}

.diary-input{
    margin-top: 2%;
    width: 90%;
    height: auto;
    font-size: 15px;
    white-space: pre-wrap;
    overflow: scroll;
}

.diary-assign{
    margin-top: 3%;
    width: 100px;
    height: 40px;
}

.main-enter-name input{
    height: 40px;
    width: 150px;
}

.main-enter-birthday{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main-enter-birthday input{
    margin: 0 auto;
    margin-top: 1%;
    display: inline-block;
    height: 40px;
    width: 100px;
}

.main-enter-birthday input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0px;
}

.next-week{
    margin-top: 10%;
}